@import "../../../styles/variables.scss";

// EXPERIENCE CONTAINER
.experienceSection {
  min-height: auto;
  max-height: auto;
  width: 100%;
  background-color: $secondary-color-v2;

  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4rem;

  @media (max-width: 1024px) {
    padding: 2rem 0;
  }

  @media (max-width: 768px) {
    padding: 1rem 0;
    flex-direction: column;
    max-height: fit-content;
  }
}

// CONTENT CONTAINER
.contentContainer {
  width: 70%;
  padding: 2rem 4rem;
  gap: 2rem;

  @media (max-width: 1024px) {
    width: 95%;
    padding: 2rem 3rem 0 3rem;
  }

  @media (max-width: 900px) {
    padding: 2rem 0;
  }

  @media (max-width: 540px) {
    width: 100%;
  }
}

// ARTICLES CONTAINER
.articlesContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; // centers the articles on the row
  gap: 3rem;
  margin: 0 auto;

  @media (max-width: 768px) {
    gap: 1rem;
  }
}

// ARTICLE
.article {
  flex: 1 1 calc(50% - 3rem); // 2 per row (minus gap)
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  text-align: start;
  margin: 0; // flex-gap handles spacing now

  @media (max-width: 540px) {
    flex: 1 1 100%; // stack 1 per row on mobile
    padding: 0.5rem 2rem 1rem 2rem;
  }
}

// MAIN TITLE
.title {
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 2rem;

  @media (max-width: 1024px) {
    font-size: 4rem;
  }

  @media (max-width: 768px) {
    font-size: 3rem;
  }

  @media (max-width: 540px) {
    font-size: 2.5rem;
  }
}

// ARTICLES TITLE
.subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.7rem;

  @media (max-width: 768px) {
    font-size: 1.4rem;
  }

  @media (max-width: 540px) {
    font-size: 1.3rem;
  }
}

.point {
  font-weight: 400;
}

// IMAGE CONTAINER
.imageContainer {
  width: 25%;

  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
  }
}

.icon {
  width: 40%;
  margin-bottom: 1rem;
}
