@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

// PORFOLIO SECTION CONTAINER
.portfolioSection {
  min-height: 94vh;
  max-height: auto;
  width: 100%;
  background-color: $secondary-color;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 1024px) {
    min-height: fit-content;
    padding: 2rem;
  }
}

// PORFOLIO SECTION MAIN TITLE
.title {
  width: 78%;
  color: rgb(255, 115, 0);
  font-size: 5rem;
  margin-bottom: 2rem;

  @media (max-width: 1024px) {
    display: block;
    margin-left: 0;
  }

  @media (max-width: 768px) {
    font-size: 3rem;
    display: block;
    text-align: center;
    margin-bottom: 1rem;
  }
}

.projectsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 4rem;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 0;
  }
}

// Settings for single article
.imageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 35%;
  height: auto;
  margin-bottom: 2rem;
  border-radius: 25px;

  @media (max-width: 1024px) {
    width: 65%;
    margin: 1rem 0 2rem 0;
    display: flex;
    justify-content: center;
  }

  @media (max-width: 768px) {
    margin: 1rem 0 1.5rem 0;
  }

  @media (max-width: 480px) {
    width: 100%;
  }
}

.imageContainer:hover {
  transform: scale(1.05);
  transition: all 0.1s ease;
}

// IMAGE PROJECT
.image {
  width: 100%;
  max-width: fit-content;
  border: 1px solid black;
  border-radius: 25px;
}

.image:hover {
  border: 1.5px solid rgb(255, 115, 0);
}

.image:focus {
  outline: none;
  transform: scale(1.05);
  transition: all 0.1s ease;
  border: 1.5px solid rgb(255, 115, 0);
}

.projectTitleContainer {
  position: absolute; // Absolutely position this within the imageContainer
  bottom: 0; // Align it to the bottom
  left: 0; // Align it to the left
  width: 100%; // Span the entire width of the container
  background: rgba(0, 0, 0, 0.6); // Semi-transparent dark background
  backdrop-filter: blur(5px); // Blur effect for the background
  color: white; // Text color
  text-align: center; // Center-align the text
  padding: 10px 0;
  border-radius: 0 0 25px 25px;
}

.projectTitle {
  margin: 0; // Remove default margin from h2
  padding: 0.5rem; // Add some padding
  font-size: 1.1rem; // Choose a font size that fits well
  font-weight: bold;

  @media (max-width: 768px) {
    font-size: 0.8rem;
    padding: 0.3rem;
  }

  @media (max-width: 480px) {
    font-size: 0.7rem;
    padding: 0.2rem;
  }
}
