@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

// ====== SECTION WRAPPER ======
.portfolioSection {
  width: 100%;
  padding: 4rem 2rem;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 4rem;

  @media (max-width: 1024px) {
    font-size: 4rem;
  }

  @media (max-width: 768px) {
    font-size: 3rem;
  }

  @media (max-width: 540px) {
    font-size: 2.5rem;
    text-align: center;
  }
}

// ====== PROJECTS CONTAINER ======
.projectsContainer {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  width: 100%;
  max-width: 1200px;
  align-items: center;

  @media (max-width: 540px) {
    gap: 4rem;
  }
}

// ====== PROJECT CARD ======
.projectCard {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 4rem;

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

// ====== PROJECT INFO ======
.projectInfo {
  flex: 0.9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 1rem;

  @media (max-width: 1024px) {
    align-items: center;
    text-align: center;
  }
}

.projectProfile {
  width: 500px;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
  margin-bottom: 1rem;

  @media (max-width: 1024px) {
    width: 400px;
  }

  @media (max-width: 768px) {
    width: 350px;
  }
}

.projectTitle {
  font-size: 1.4rem;
  font-weight: 800;
  color: #111;
}

.projectDescription {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  max-width: 500px;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.projectButton {
  @include button-style-v2-fit-content;
}

// ====== PROJECT PREVIEW ======
.projectPreview {
  flex: 2;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  @media (max-width: 1024px) {
    display: none;
  }
}

.projectMainImage {
  width: 100%;
  max-width: 900px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  object-fit: cover;
  align-self: flex-start;
}
