@import "../../../../styles//variables.scss";
@import "../../../../styles/mixins.scss";

// Overlay that covers the entire screen with a semi-transparent background
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px); // This creates the blur effect
  z-index: 1000; // Ensure it's above other content
}

// Close Button Container

.closeContainer {
  display: flex;
  justify-content: flex-end;
}

.closeButton {
  width: 30px;
  height: auto;
}

// Modal content styling
.modalContent {
  background-color: white;
  padding: 2rem;
  border: 1px solid black;
  border-radius: 25px;
  max-width: 700px; // Set a max-width for the modal
  width: 90%; // Use a percentage width for responsive design
  z-index: 1001; // Above the overlay
  max-height: 82vh; // 90% of the viewport height
  overflow-y: auto; // Enable vertical scrolling
}

//   Modal Image
.modalImage {
  width: 50%;
  margin: 2rem auto;
  border-radius: 25px;

  @media (max-width: 768px) {
    width: 65%;
  }
}

//  Modal Title
.modalTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 500;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

// Modal Subtitle

.modalSubtitle {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
}

// Modal Text Container

.modalText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

// Modal Description

.modalDescription {
  font-size: 1rem;
  margin-bottom: 1rem;
}

// Modal GitHub Link

.githubContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 0.3rem;
}

.githubLink {
  font-size: 1rem;
  word-wrap: break-word;
}

// TECHNOLOGY PROJECT CONTAINER
.itemsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 0;
  margin: 1rem 0 1rem 0;
}

// TECHNOLOGY PROJECT TITLE

.technologyTitle {
  padding: 0.5rem 0;
}
// SKILLS ITEMS USED IN THE PROJECT
.list {
  @include list-technology;
}

//  Button Container

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}

.buttonRun {
  @include button-style;
}

.buttonReverted {
  @include button-style-reverted;
}
