@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

// PROFIL CONTAINER
.profileSection {
  min-height: 94vh;
  max-height: auto;
  width: 100%;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem 0;

  @media (max-width: 1024px) {
    position: relative;
    flex-direction: column;
    min-height: fit-content;
    padding: 4rem 0;
    gap: 1.5rem;
  }
}

// PROFIL PICTURE
.imageContainer {
  width: 30%;

  @media (max-width: 768px) {
    width: 40%;
  }

  @media (max-width: 430px) {
    width: 70%;
  }
}

// CONTENT CONTAINER
.contentContainer {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (max-width: 1024px) {
    width: 70%;
  }
}

// MAIN TITLE
.title {
  font-size: 5rem;
  @media (max-width: 768px) {
    font-size: 3rem;
  }

  @media (max-width: 540px) {
    text-align: center;
  }
}

// SUBTITLE
.subtitle {
  font-size: 2rem;
  font-weight: 550;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }

  @media (max-width: 540px) {
    text-align: center;
  }
}

// UNORDERED LIST
.list {
  margin-left: 1rem;
  list-style-type: disc;
}

.gptsLinkOrange {
  font-weight: 900;
  color: $navigation-color;
}

// BUTTON CONTAINER
.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

// BUTTON
.button {
  @include button-style;
}
