// Mixins
@import "mixins";

.contentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imageContainer {
  width: 20%;
  margin-bottom: 2rem;

  @media (max-width: 1024px) {
    width: 40%;
  }

  @media (max-width: 540px) {
    width: 60%;
  }
}

.image {
  border-radius: 100%;
}

.tipsContainer {
  width: 60%;

  @media (max-width: 1024px) {
    width: 80%;
  }

  @media (max-width: 540px) {
    width: 90%;
  }
}

.title {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;

  @media (max-width: 540px) {
    font-size: 2rem;
  }
}

.tipsItem {
  margin: 1rem 0;
  font-size: 1rem;

  @media (max-width: 540px) {
    font-size: 0.9rem;
  }
}

.strong {
  font-size: 1.5rem;

  @media (max-width: 540px) {
    font-size: 1.2rem;
  }
}

.buttonsContainer {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;

  @media (max-width: 540px) {
    gap: 1rem;
  }
}

.button {
  @include button-style;
}

.buttonRevert {
  @include button-style-reverted;
}
