@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

// SECTION CONTAINER
.skillsSection {
  min-height: 94vh;
  max-height: auto;
  width: 100%;
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;

  @media (max-width: 1024px) {
    min-height: fit-content;
  }

  @media (max-width: 768px) {
    position: relative;
    flex-direction: column;
    padding: 2rem 1rem;
  }
}

// MAIN CONTAINER
.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 900px;
  max-height: auto;
  width: 100%;

  @media (max-width: 768px) {
    flex-direction: column;
    max-height: fit-content;
  }
}

// MAIN NAVIGATION CONTAINER
.leftContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  width: 30%;
  margin-left: 10%;

  @media (max-width: 1024px) {
    width: 35%;
  }

  @media (max-width: 768px) {
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

// NAVIGATION CONTAINER
.navContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: auto;

  @media (max-width: 768px) {
    display: none;
  }
}

// NAVIGATION ITEMS
.navItem {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0.8rem 0;
}

.activeLink {
  border-bottom: 2px solid $navigation-color;
  color: $navigation-color;
}

// MAIN TITLE
.title {
  font-size: 5rem;

  @media (max-width: 1024px) {
    font-size: 4rem;
  }

  @media (max-width: 768px) {
    font-size: 3rem;
    display: block;
  }
}

// SKILLS CONTAINER
.skillsContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
  margin-left: 5%;
  padding: 2rem;

  @media (max-width: 768px) {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

// SKILLS TITLE
.subtitle1 {
  font-size: 2rem;
  font-weight: 550;
  margin-bottom: 1.5rem;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.subtitle {
  font-size: 2rem;
  font-weight: 550;
  margin-bottom: 1.5rem;

  @media (max-width: 768px) {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}

// SKILLS DESCRIPTION
.para1 {
  margin-bottom: 1.5rem;
}

.para {
  font-weight: 600;
  margin: 1.5rem 0;
}

// SKILLS LIST
.itemsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.list {
  @include list-item;
}

// MANAGE ARTICLES DISPLAY WITH NAV BARRE
.active {
  display: block;
}

.hidden {
  display: none;
}

// MOBILE STYLES
@media (max-width: 768px) {
  // Ajuste la largeur selon tes besoins
  .active,
  .hidden {
    display: block; // Affiche tous les articles en mode mobile
  }
}
