@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables.scss";

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); // Semi-transparent background
  z-index: 10000; // Ensure it's higher than other content
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10001; // Ensure content is above the modal background
  width: 45%;

  @media (max-width: 1024px) {
    width: 70%;
  }
}

// IMAGE
.logo {
  width: auto;
  height: 50px;
  margin-bottom: 1rem;
}

// TITLE DESIGN
.title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;

  @media (max-width: 540px) {
    font-size: 1.2rem;
  }
}

// MESSAGE DESIGN
.message {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;

  @media (max-width: 540px) {
    font-size: 0.9rem;
  }
}

// BUTTONS
.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.acceptButton {
  @include button-style-v2-fit-content;
}

.rejectButton {
  @include button-style-reverted;
}
