// VARIABLES
@import "variables";
// MIXINS
@import "mixins";

// Main Container
.main {
  position: relative;
  margin-top: 6vh;
  min-height: 94vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: $gpts-background-page-color;

  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    max-height: 100%;
  }

  @media (max-width: 768px) {
    padding-top: 2rem;
  }

  @media (max-width: 540px) {
    padding-top: 1rem;
  }
}

// Image Container
.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 40%;

  @media (max-width: 1024px) {
    width: 100%;
    margin-top: 4rem;
  }

  @media (max-width: 768px) {
    margin-top: 2rem;
  }

  @media (max-width: 540px) {
    margin-top: 1rem;
  }
}

.image {
  width: 100%;
  height: auto;

  @media (max-width: 1024px) {
    width: 50%;
  }

  @media (max-width: 768px) {
    width: 60%;
  }
}

// Text Container
.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 60%;
  padding: 3rem;

  @media (max-width: 1024px) {
    width: 80%;
    align-items: center;
  }

  @media (max-width: 540px) {
    width: 100%;
    padding: 2rem;
  }
}

// Title
.title {
  font-size: 3rem;

  @media (max-width: 1024px) {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  @media (max-width: 768px) {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }

  @media (max-width: 540px) {
    font-size: 1.5rem;
  }
}

.span {
  font-size: 4rem;
  font-family: "Caramel", sans-serif;

  @media (max-width: 1024px) {
    font-size: 2.5rem;
  }

  @media (max-width: 768px) {
    font-size: 1.9rem;
  }

  @media (max-width: 540px) {
    font-size: 1.6rem;
  }
}

// Subtitle
.subtitle {
  font-size: 2rem;
  margin-bottom: 2rem;

  @media (max-width: 1024px) {
    font-size: 1.5rem;
  }

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }

  @media (max-width: 540px) {
    font-size: 1rem;
    text-align: center;
  }
}

// Description
.description {
  font-size: 1.2rem;
  margin-bottom: 2rem;

  @media (max-width: 1024px) {
    font-size: 1rem;
  }

  @media (max-width: 540px) {
    font-size: 0.9rem;
  }
}

// Button Container
.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  @include button-style;
  text-align: center;
}
