@import "../../styles/variables.scss";

// EXPERIENCE CONTAINER
.experienceSection {
  min-height: 94vh;
  max-height: auto;
  width: 100%;
  background-color: $primary-color;

  display: flex;
  align-items: center;
  justify-content: space-around;

  @media (max-width: 1024px) {
    padding: 2rem 0;
  }

  @media (max-width: 768px) {
    padding: 1rem 0;
    flex-direction: column;
    max-height: fit-content;
  }
}

// CONTENT CONTAINER
.contentContainer {
  width: 60%;
  margin-left: 2rem;
  padding: 2rem 4rem;
  gap: 2rem;

  @media (max-width: 768px) {
    width: 95%;
    margin-left: 0;
    padding: 2rem 2rem 0 2rem;
  }
}

// ARTICLE
.article {
  margin: 1.5rem 0;
}

// MAIN TITLE
.title {
  font-size: 5rem;
  margin-bottom: 2rem;

  @media (max-width: 768px) {
    font-size: 3rem;
    display: block;
    text-align: center;
  }
}

// ARTICLES TITLE
.subtitle {
  font-size: 2rem;
  font-weight: 550;
  margin-bottom: 0.7rem;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

// IMAGE CONTAINER
.imageContainer {
  width: 25%;

  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
  }
}

.image {
  width: 90%;

  @media (max-width: 768px) {
    width: 35%;
  }
}
