@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

// PROFIL CONTAINER
.profileSection {
  min-height: auto;
  max-height: auto;
  width: 100%;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 4rem 0;

  @media (max-width: 1024px) {
    position: relative;
    flex-direction: column;
    min-height: fit-content;
    padding: 4rem 0;
    gap: 1.5rem;
  }

  @media (max-width: 540px) {
    padding: 2rem 0;
    gap: 1rem;
  }
}

// CONTENT CONTAINER
.contentContainer {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (max-width: 1024px) {
    width: 70%;
  }

  @media (max-width: 540px) {
    width: 80%;
    gap: 1rem;
  }
}
//LIST CONTAINER
.listContainer {
  width: 80%;
  display: flex;
  justify-content: center;
  padding-left: 25%;

  @media (max-width: 1024px) {
    width: 100%;
    padding-left: 0;
  }
}

// MAIN TITLE
.title {
  font-size: 5rem;
  font-weight: 900;
  text-align: center;

  @media (max-width: 1024px) {
    font-size: 4rem;
  }

  @media (max-width: 768px) {
    font-size: 3rem;
  }

  @media (max-width: 540px) {
    font-size: 2.5rem;
    text-align: center;
  }
}

// SUBTITLE
.subtitle {
  font-size: 2.8rem;
  font-weight: 900;
  text-align: center;

  @media (max-width: 1024px) {
    font-size: 2.5rem;
  }

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }

  @media (max-width: 540px) {
    font-size: 1.3rem;
    text-align: center;
  }
}

// UNORDERED LIST
.list {
  margin-left: 1rem;
  list-style-type: disc;
}

.gptsLinkOrange {
  font-weight: 900;
  color: black;
}

// BUTTON CONTAINER
.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

// BUTTON
.button {
  @include button-style-v2-fit-content;
}
