@use "styles" as *;

// LOADER CONTAINER
.loaderOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  z-index: 2000; /* Assurez-vous que le loader est bien au-dessus des autres éléments */
}

// LOGO
.image {
  width: auto;
  height: 80px;
  margin-bottom: 2rem;

  @media (max-width: 768px) {
    width: auto;
    height: 60px;
    margin-bottom: 1.5rem;
  }
}

// LOADER TEXT
.text1 {
  font-size: 1.5rem;
  font-weight: 400;

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
}

.text2 {
  font-size: 2.5rem;

  margin-bottom: 2rem;

  @media (max-width: 768px) {
    font-size: 1.6rem;
  }
}

// LOADER CIRCLE
.loaderCircle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #000000 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #000000);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;

  @media (max-width: 768px) {
    width: 60px;
    height: 60px;
  }
}

@keyframes s3 {
  100% {
    transform: rotate(1turn);
  }
}
