// MIXINS
@import "../../../styles/mixins.scss";
// VARIABLES
@import "../../../styles/variables.scss";

// MAIN CONTAINER
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94vh;
  width: 100%;
  background-color: white;

  @media (max-width: 1024px) {
    flex-direction: column-reverse;
    max-height: auto;
    gap: 2rem;
  }
}

// TEXT CONTAINER
.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  padding: 0 4rem;

  @media (max-width: 1024px) {
    height: 50%;
    width: 80%;
  }

  @media (max-width: 768px) {
    height: 45%;
  }
}

.title {
  color: rgb(125, 125, 125);
  font-family: $primery-font;
  font-size: 10rem;
  font-weight: 600;
  margin-bottom: 1rem;

  @media (max-width: 768px) {
    font-size: 5rem;
    margin-bottom: 0;
  }
}

.text1 {
  font-family: $primery-font;
  font-size: 1.5rem;
  margin-bottom: 1rem;

  @media (max-width: 768px) {
    font-size: 1.2rem;
    text-align: center;
  }
}

.text2 {
  font-family: $primery-font;
  font-size: 1.2rem;

  @media (max-width: 768px) {
    font-size: 1rem;
    margin: 0 0 0.7rem 0;
    text-align: center;
  }
}

// BUTTON
.button {
  @include button-style;
  margin-top: 2rem;
  border: none;

  @media (max-width: 768px) {
    margin-top: 1rem;
  }
}

// IMAGE CONTAINER
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17%;
  height: 100%;

  @media (max-width: 1024px) {
    height: 50%;
    width: 80%;
  }

  @media (max-width: 768px) {
    height: 45%;
    width: 100%;
  }
}

// IMAGE
.image {
  width: auto;
  height: 70%;

  @media (max-width: 1024px) {
    height: 100%;
    padding: 20% 0 0 0;
  }

  @media (max-width: 768px) {
    height: 100%;
    margin-top: 2rem;
  }
}
