// CONTACT SECTION CONTAINER
.contactSection {
  min-height: 94vh;
  max-height: fit-content;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    padding: 3rem 0;
  }
}

// CONTACT SECTION CONTAINER TITLE
.containerTitle {
  width: 50%;
  display: flex;
  margin-bottom: 2rem;

  @media (max-width: 768px) {
    width: 80%;
    justify-content: center;
  }
}

// CONTACT SECTION TITLE
.title {
  font-size: 5rem;

  @media (max-width: 768px) {
    font-size: 3rem;
    display: block;
  }
}

// FORM CONTAINER
.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  @media (max-width: 768px) {
    width: 80%;
  }
}

// CONTAINER OF THE UP PART OF FORM
.upFormContainer {
  display: flex;
  gap: 1rem;
  width: 50%;

  @media (max-width: 768px) {
    flex-direction: column;
    width: 90%;
  }
}

// CONTAINER OF THE INPUTS NAME AND EMAIL
.labelContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

// CONTAINER OF THE DOWN PART OF FORM
.downFormContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  margin-bottom: 1rem;

  @media (max-width: 768px) {
    width: 90%;
  }
}

// CONTAINER OF THE SUBJECT AND MESSSAGE LABELS (RESPECTIVELY)
.containerSubtitle {
  width: 50%;
  display: flex;
  flex-direction: flex-start;
}

// LABELS DESIGN
.label {
  display: flex;
  font-size: 1.5rem;
  font-weight: 550;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}
// LABELS RED STARS
.requiredStar {
  color: red;
}

// INPUTS DESIGN
.input {
  border: 2px solid rgb(231, 230, 230);
  border-radius: 15px;
  height: 2.5rem;
  width: 100%;
  padding-left: 1rem;

  @media (max-width: 768px) {
    padding-left: 0.5rem;
  }
}

// TEXTAREA DESIGN
.textarea {
  border: 2px solid rgb(231, 230, 230);
  border-radius: 15px;
  height: 10rem;
  width: 100%;
  padding-left: 1rem;
  padding-top: 1rem;
}

// BUTTON DESIGN
.button {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  background-color: rgb(255, 115, 0);
  border-radius: 25px;
  width: fit-content;
  padding: 0.5rem 2rem;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}
