.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.topContainer {
  position: relative;
  width: 100%;
  min-height: 90vh;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
