@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&family=Roboto:wght@400;600;700;800;900&family=Caramel&family=Special+Elite&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-primery: "Raleway", "Roboto", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  /* DEV MODE */
  background: yellow;
  /* PROD MODE */
  /* background: white; */
  font-family: var(--font-primery);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
