// VARIABLES
@import "variables";
// MIXINS
@import "mixins";

.mainContainer {
  position: relative;
  margin-top: 6vh;
  width: 100%;
  min-height: 94vh;
  max-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1024px) {
    padding: 0 0 2rem 0;
  }
}

// Main Container
.topContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  padding: 4rem 5rem 0rem 5rem;

  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem 0 2rem;
    max-height: 100%;
  }
}

// Image Container
.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 45%;

  @media (max-width: 1024px) {
    position: relative;
    width: 60%;
    margin-bottom: 2rem;
  }

  @media (max-width: 768px) {
    width: 70%;
  }

  @media (max-width: 540px) {
    width: 100%;
  }
}

.image {
  width: 60%;
  height: auto;
  border-radius: 100%;
}

// Text Container
.textContainer {
  position: relative;
  width: 60%;

  @media (max-width: 1024px) {
    position: relative;
    width: 80%;
    top: 0%;
    right: 0%;
    text-align: center;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

// Title
.title {
  font-size: 3.5rem;
  line-height: 75px;
  margin-bottom: 2rem;

  @media (max-width: 1024px) {
    font-size: 2.5rem;
    line-height: 55px;
  }

  @media (max-width: 768px) {
    font-size: 1.8rem;

    line-height: 33px;
  }
}

// Subtitle
.subtitle {
  font-size: 2rem;
  margin-bottom: 2rem;
  line-height: 45px;

  @media (max-width: 1024px) {
    font-size: 1.5rem;
    line-height: 35px;
  }

  @media (max-width: 768px) {
    font-size: 1.2rem;
    line-height: 25px;
  }
}

.subtitleBold {
  font-weight: bold;
  font-size: 2rem;

  @media (max-width: 1024px) {
    font-size: 1.5rem;
  }

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
}

// Description
.description {
  font-size: 1rem;
  margin-bottom: 2rem;

  @media (max-width: 1024px) {
    font-size: 0.9rem;
  }
}

// Modes Container
.modesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;

  @media (max-width: 1024px) {
    margin-bottom: 2rem;
  }
}

// TIPS SECTION
.tipsContainer {
  width: auto;
  display: flex;

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
  }
}

// Tips Text
.tipsText {
  text-align: center;
  font-weight: 600;
  width: 280px;
  border-radius: 25px;
  background-color: rgb(225, 224, 224);
  padding: 0.5rem;
  margin-top: 1rem;
}

.hide {
  display: none;
}

// GPTs Container
.gptsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1024px) {
    min-height: auto;
    padding: 2rem;
  }

  @media (max-width: 768px) {
    padding: 2rem 1rem;
  }
}

// GPTs Cards CONTAINER
.cardsContainer {
  width: 60%;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 1024px) {
    width: 90%;
  }

  @media (max-width: 820px) {
    width: 95%;
    padding: 0;
    margin-top: 2rem;
  }

  @media (max-width: 540px) {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
}

// GPTs Cards CONTAINER2
.cardsContainer2 {
  width: 30%;
  padding: 2rem;
  display: flex;
  justify-content: center;

  @media (max-width: 1024px) {
    width: 90%;
  }

  @media (max-width: 820px) {
    width: 95%;
    padding: 0;
    margin: 0.8rem 0 2rem 0;
  }

  @media (max-width: 540px) {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.downContainer {
  width: 100%;

  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}

// Social Buttons Container
.socialButtonContainerCategories {
  width: 100%;
  display: flex;
  gap: 0.8rem;

  @media (max-width: 1024px) {
    justify-content: center;
    padding-left: 0;
    padding: 1rem 0;
  }
}

.socialButtonContainerGPTs {
  width: 100%;
  display: flex;
  gap: 0.8rem;
  padding-left: 5rem;

  @media (max-width: 1024px) {
    justify-content: center;
    padding-left: 0;
    padding: 1.5rem 0;
  }
}

// Button Container
.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0 2rem 0;
  gap: 2rem;

  @media (max-width: 1024px) {
    margin: 1rem 0 2rem 0;
  }

  @media (max-width: 768px) {
    gap: 1rem;
  }
}

.buttonReverted {
  @include button-style-reverted;
  text-align: center;
}

.buttonRun {
  @include button-style;
  margin-right: 1rem;
}

// Promotional text

.promoText {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 3rem;

  @media (max-width: 1024px) {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  @media (max-width: 768px) {
    text-align: center;
    font-size: 0.9rem;
  }

  @media (max-width: 540px) {
    margin: 0 1rem 1rem 1rem;
  }
}

.portfolioLinkOrange {
  font-weight: 900;
  color: $navigation-color;
}

.itemsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0 4rem 0;
}

// DONATION BANNER
.donationBanner {
  width: 100%;
  height: 4rem;
  background-color: $navigation-color;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 1024px) {
    width: fit-content;
    border-radius: 25px;
    padding: 1.2rem;
  }

  @media (max-width: 768px) {
    padding: 1rem;
  }
}

.clickHere {
  font-size: 1.2rem;
  font-weight: 500;
  color: white;

  @media (max-width: 1024px) {
    font-size: 1rem;
  }
}

// MODAL DONATION

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: $gpts-background-page-color;
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid black;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1024px) {
    width: 50%;
  }

  @media (max-width: 768px) {
    width: 70%;
  }

  @media (max-width: 540px) {
    width: 90%;
    padding: 1.2rem;
  }
}

.titleDonation {
  color: $navigation-color;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1rem;

  @media (max-width: 540px) {
    font-size: 1.4rem;
  }
}

.donationOptions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0 30px 0;

  @media (max-width: 540px) {
    gap: 10px;
  }
}

.donationOption {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.donationText {
  color: black;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.3rem;

  @media (max-width: 540px) {
    font-size: 1rem;
  }
}

.donationCopy {
  width: fit-content;
  display: flex;
  gap: 0.6rem;
  background-color: white;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 10px;

  @media (max-width: 540px) {
    padding: 0.3rem 0.6rem;
  }
}

.donationInfos {
  font-size: 1rem;
  font-weight: 500;
  color: black;

  @media (max-width: 540px) {
    font-size: 0.6rem;
  }
}

.copiedNotification {
  color: green;
  text-align: center;
}
