@import "./variables.scss";

@mixin button-style {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  background-color: $button-color;
  border-radius: 25px;
  width: fit-content;
  padding: 0.5rem 2rem;

  @media (max-width: 768px) {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  &:hover {
    background-color: darken(
      $button-color,
      5%
    ); // Darken the background color by 10% on hover
  }
}

@mixin button-style-reverted {
  font-size: 1.2rem;
  font-weight: 600;
  color: $button-color;
  background-color: rgb(252, 250, 243);
  border: 1px solid black;
  border-radius: 25px;
  width: fit-content;
  padding: 0.5rem 2rem;

  @media (max-width: 768px) {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  &:hover {
    background-color: darken(
      rgb(252, 250, 243),
      5%
    ); // Darken the background color by 10% on hover
  }
}

// Mixins for list items
@mixin list-item {
  display: inline-block;
  background-color: white;
  color: rgb(255, 115, 0);
  font-weight: 900;
  padding: 0.5rem 0.8rem;
  border-radius: 25px;

  @media (max-width: 768px) {
    font-size: 0.8rem;
  }
}

// Mixins for list technology in modal project
@mixin list-technology {
  display: inline-block;
  background-color: rgb(254, 230, 202);
  color: rgb(255, 115, 0);
  font-weight: 900;
  padding: 0.5rem 0.8rem;
  border-radius: 25px;

  @media (max-width: 768px) {
    font-size: 0.8rem;
  }
}
