@import "./variables.scss";

@mixin button-style {
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: $button-color;
  border-radius: 25px;
  width: fit-content;
  padding: 0.5rem 2rem;

  @media (max-width: 768px) {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }

  &:hover {
    background-color: darken(
      $button-color,
      5%
    ); // Darken the background color by 10% on hover
  }
}

@mixin button-style-v2 {
  font-size: 1rem;
  font-weight: 400;
  color: white;
  background-color: $button-color-v2;
  border-radius: 25px;
  width: 170px;
  padding: 0.5rem 2rem;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }

  @media (max-width: 540px) {
    font-size: 0.8rem;
    width: 120px;
  }
}

@mixin button-style-reverted {
  font-size: 1rem;
  font-weight: 600;
  color: $button-color;
  background-color: rgb(252, 250, 243);
  border: 1px solid $button-color;
  border-radius: 25px;
  width: fit-content;
  padding: 0.5rem 2rem;

  @media (max-width: 768px) {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }

  &:hover {
    background-color: darken(
      rgb(252, 250, 243),
      5%
    ); // Darken the background color by 10% on hover
  }
}

@mixin button-style-social {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background: rgb(255, 112, 43);
  background: linear-gradient(
    90deg,
    rgba(255, 112, 43, 0.9337046529968455) 0%,
    rgba(255, 158, 77, 0.8990043375394322) 100%
  );
  border-radius: 25px;
  width: fit-content;
  padding: 0.5rem 1rem;

  @media (max-width: 768px) {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
}

// Mixins for list items
@mixin list-item {
  display: inline-block;
  background-color: white;
  color: rgb(255, 115, 0);
  font-weight: 900;
  padding: 0.5rem 0.8rem;
  border-radius: 25px;

  @media (max-width: 768px) {
    font-size: 0.8rem;
  }
}

// Mixins for list technology in modal project
@mixin list-technology {
  display: inline-block;
  background-color: rgb(254, 230, 202);
  color: rgb(255, 115, 0);
  font-weight: 900;
  padding: 0.5rem 0.8rem;
  border-radius: 25px;

  @media (max-width: 768px) {
    font-size: 0.8rem;
  }
}
