@use "styles" as *;

// ===============================
// MAIN CONTAINER
// ===============================
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $primary-color;
}

// ===============================
// CONTENT CONTAINER
// ===============================
.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem 4rem 2rem;
  width: 65%;

  @media (max-width: 1024px) {
    width: 80%;
  }

  @media (max-width: 820px) {
    width: 90%;
  }

  @media (max-width: 540px) {
    width: 100%;
    padding: 2rem 1rem 2rem 1rem;
  }
}

// ===============================
// IMAGES CONTAINER
// ===============================
.imagesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

// ===============================
// IMAGES SETTINGS
// ===============================
.images {
  width: 100%;

  @media (max-width: 540px) {
    width: 90%;
  }
}

.imagesBordered {
  width: 100%;
  border: 1px solid black;

  @media (max-width: 540px) {
    width: 90%;
  }
}
// ===============================
// SUBTITLE
// ===============================
.subtitle {
  font-size: 2.5rem;
  font-weight: 700;
  color: $title-color-v2;
  margin: 0 0 1rem 0;
  text-align: center;
  line-height: 2.5rem;

  @media (max-width: 1024px) {
    font-size: 2.3rem;
  }

  @media (max-width: 820px) {
    font-size: 2.1rem;
  }

  @media (max-width: 768px) {
    font-size: 2rem;
  }

  @media (max-width: 540px) {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0 0 0.5rem 0;
  }
}

// ===============================
// TEXT CONTAINER
// ===============================
.textContainer {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;

  @media (max-width: 1024px) {
    width: 85%;
  }

  @media (max-width: 820px) {
    width: 90%;
  }

  @media (max-width: 540px) {
    margin-bottom: 1rem;
  }
}

// ===============================
// TEXT PARAGRAPHS
// ===============================
.textParagraph {
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.6;
  text-align: start;

  @media (max-width: 540px) {
    font-size: 1rem;
  }
}

// ===============================
// TEXT LISTS
// ===============================

.textList {
  list-style-type: disc;
  padding: 1rem 0 1rem 2rem;

  @media (max-width: 540px) {
    padding-left: 1rem;
  }
}

.textListNumbered {
  list-style-type: decimal;
  padding: 1rem 0 1rem 2rem;

  @media (max-width: 540px) {
    padding-left: 1rem;
  }
}

.textListCircle {
  list-style-type: circle;
  padding: 1rem 0 1rem 2rem;

  @media (max-width: 540px) {
    padding-left: 1rem;
  }
}

.textListItem {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.6;

  @media (max-width: 540px) {
    font-size: 1rem;
  }
}

// ===============================
// BUTTONS CONTAINER
// ===============================
.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;

  @media (max-width: 540px) {
    gap: 1rem;
  }
}

// ===============================
// BUTTONS
// ===============================
.button {
  @include button-style-v2-fixed;
}

.buttonReverted {
  @include button-style-v2-fixed-reverted;
}
