// VARIABLES
@import "variables";
// MIXINS
@import "mixins";

.mainContainer {
  position: relative;
  margin-top: 6vh;
  width: 100%;
  min-height: 94vh;
  max-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Main Container
.topContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  padding: 4rem 5rem 0rem 5rem;

  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem 0 2rem;
    max-height: 100%;
  }
}

// Image Container
.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 45%;

  @media (max-width: 1024px) {
    position: relative;
    width: 100%;
    margin-bottom: 4rem;
  }
}

.image {
  width: 60%;
  height: auto;
  border-radius: 100%;
}

// Text Container
.textContainer {
  position: relative;
  width: 60%;

  @media (max-width: 1024px) {
    position: relative;
    width: 80%;
    top: 0%;
    right: 0%;
    text-align: center;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

// Title
.title {
  font-size: 4rem;

  @media (max-width: 1024px) {
    font-size: 2.5rem;
  }

  @media (max-width: 768px) {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }
}

// Subtitle
.subtitle {
  font-size: 2.2rem;
  margin-bottom: 2rem;

  @media (max-width: 1024px) {
    font-size: 1.5rem;
  }

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
}

.subtitleBold {
  font-weight: bold;
  font-size: 2.2rem;

  @media (max-width: 1024px) {
    font-size: 1.5rem;
  }

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
}

// Description
.description {
  font-size: 1.2rem;
  margin-bottom: 2rem;

  @media (max-width: 1024px) {
    font-size: 1rem;
  }
}

// Modes Container
.modesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;

  @media (max-width: 1024px) {
    margin-bottom: 2rem;
  }
}

// TIPS SECTION
.tipsContainer {
  width: auto;
  display: flex;

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
  }
}

// Tips Text
.tipsText {
  text-align: center;
  font-weight: 600;
  width: 280px;
  border-radius: 25px;
  background-color: rgb(225, 224, 224);
  padding: 0.5rem;
  margin-top: 1rem;
}

.hide {
  display: none;
}

// GPTs Container
.gptsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1024px) {
    min-height: auto;
    padding: 2rem;
  }

  @media (max-width: 768px) {
    padding: 2rem 1rem;
  }
}

// GPTs Cards CONTAINER
.cardsContainer {
  width: 60%;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 1024px) {
    width: 90%;
  }

  @media (max-width: 820px) {
    width: 95%;
    padding: 0;
    margin-top: 2rem;
  }

  @media (max-width: 540px) {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
}

// GPTs Cards CONTAINER2
.cardsContainer2 {
  width: 30%;
  padding: 2rem;
  display: flex;
  justify-content: center;

  @media (max-width: 1024px) {
    width: 90%;
  }

  @media (max-width: 820px) {
    width: 95%;
    padding: 0;
    margin-top: 2rem;
  }

  @media (max-width: 540px) {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.downContainer {
  width: 100%;

  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}

// Social Buttons Container
.socialButtonContainer {
  width: 100%;
  display: flex;
  gap: 0.8rem;
  padding-left: 5rem;

  @media (max-width: 1024px) {
    justify-content: center;
    padding-left: 0;
    padding: 1.5rem 0;
  }
}

// Button Container
.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0 2rem 0;
  gap: 2rem;

  @media (max-width: 1024px) {
    margin: 1rem 0 2rem 0;
  }
}

.button {
  @include button-style-reverted;
  text-align: center;
}

.buttonRun {
  @include button-style;
  margin-right: 1rem;
}

// Promotional text

.promoText {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 2rem;

  @media (max-width: 1024px) {
    margin-top: 2rem;
    font-size: 1rem;
  }

  @media (max-width: 768px) {
    text-align: center;
    font-size: 0.9rem;
  }
}

.portfolioLinkOrange {
  font-weight: 900;
  color: $navigation-color;
}

.itemsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0 4rem 0;
}
