// COLORS
$primary-color: white;
$secondary-color: rgb(231, 230, 230);
$button-color: rgb(253, 133, 33);
$button-color-v2: black;
$social-button-color: darkblue;
$social-button-background-color: lightblue;
$navigation-color: #fffd8f;
$gpts-background-page-color: #e8edeb;
$gpts-background-card-color: #e8edeb;
$gpts-searchbarre-border-color: #e8edeb;

// FONTS
$primery-font: "Raleway", "Roboto", sans-serif;
