// COLORS
$primary-color: white;
$secondary-color: rgb(231, 230, 230);
$button-color: rgb(255, 115, 0);
$navigation-color: rgb(255, 115, 0);
$gpts-background-page-color: #e8edeb;
$gpts-background-card-color: #e8edeb;
$gpts-searchbarre-border-color: #e8edeb;

// FONTS
$primery-font: "Raleway", "Roboto", sans-serif;
